VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_STORAGE_BUCKET=

# "firestore" or "duckdb" (default: duckdb in dev, firestore in production)
VITE_DATASOURCE=

# Set to "true" to require Firebase Auth login
VITE_AUTH_REQUIRED=
